---
const { class: className } = Astro.props;
---

<a
  class={`${className} text-hub-inactive hover:text-hub-title rounded-full border-[1px] size-9 flex items-center justify-center border-hub-border 
  dark:border-hub-border-dark 
  hover:drop-shadow-md 
  hover:bg-hub-background-nav
   hover:dark:bg-hub-background-nav-dark
    dark:text-hub-inactive`}
  {...Astro.props}
  rel="noopener noreferrer"
>
  <slot />
</a>
