---
const { class: className } = Astro.props;
---

<a
  class={`${className} text-hub-inactive hover:text-hub-title rounded-full border-[1px] size-9 flex items-center justify-center border-hub-border 
  dark:border-hub-border-dark 
  hover:drop-shadow-md 
  hover:bg-hub-background-nav
   hover:dark:bg-hub-background-nav-dark
    dark:text-hub-inactive 
    transition-all duration-200
    active:scale-95
    focus:outline-none
    focus-visible:outline-none`}
  {...Astro.props}
  rel="noopener noreferrer"
>
  <slot />
</a>

<style>
  /* ホバー状態をリセット */
  a:active {
    transform: scale(0.95);
  }
  
  /* フォーカス状態をリセット */
  a:focus {
    outline: none;
  }
  
  /* タップ後のホバー状態を防ぐ */
  a:active:hover {
    background-color: inherit;
    color: inherit;
    transform: scale(0.95);
  }
</style>
