@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: system-ui, sans-serif;
	--font-mono: 'IBM Plex Mono', monospace;

	--color-foreground: #ffffff;
	--color-background: #000000;
	--color-primary: #0784b5;
}

html {
	scroll-padding-top: 6.5rem;
	scroll-behavior: smooth;
}

body {
	@apply text-foreground bg-background font-light;
}

.app-container {
	@apply container mx-auto px-6 sm:px-12 2xl:px-16;
}

.btn-primary {
	@apply w-fit flex gap-1.5 bg-transparent text-foreground pl-0 pr-2.5 py-1.5 text-xs rounded-lg items-center mt-1 hover:opacity-75 transition-opacity self-start underline underline-offset-4;
}

.btn-secondary {
	@apply w-fit flex gap-1.5 bg-transparent text-foreground pl-0 pr-2.5 py-1.5 text-xs rounded-lg items-center mt-1 hover:opacity-75 transition-opacity self-start underline underline-offset-4;
}

.section-title {
	@apply text-base font-semibold pb-0;
}

/* Loading Bar Styles */
#loading-bar-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	z-index: 9999;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease;
}

#loading-bar {
	width: 0%;
	height: 100%;
	background: linear-gradient(to right, #0784b5, #ffffff);
	box-shadow: 0 0 10px rgba(7, 132, 181, 0.7);
	transition: width 0.3s ease;
}

#loading-bar-container.loading {
	opacity: 1;
}
