---
import YouTube from "@/icons/YouTube.astro";
import Instagram from "@/icons/Instagram.astro";
import Note from "@/icons/Note.astro";
import GitHub from "@/icons/GitHub.astro";
---

<header class="border-b bg-white/80 backdrop-blur">
  <div class="container h-14 flex items-center justify-between">
    <a href="/" class="font-extrabold tracking-tight text-lg no-underline">KENTARO</a>
    <nav class="flex gap-6 text-sm">
      <a href="https://www.youtube.com/@kentaro_life_lab" class="text-black hover:text-[var(--fg)] flex items-center gap-2" target="_blank" rel="noreferrer noopener">
        <YouTube class="w-4 h-4" />
        YouTube
      </a>
      <a href="https://www.instagram.com/kentaro_life_lab/" class="text-black hover:text-[var(--fg)] flex items-center gap-2" target="_blank" rel="noreferrer noopener">
        <Instagram class="w-4 h-4" />
        Instagram
      </a>
      <a href="https://note.com/taroken2411" class="muted hover:text-[var(--fg)] flex items-center gap-2" target="_blank" rel="noreferrer noopener">
        <Note class="w-4 h-4" />
        Note
      </a>
      <a href="https://github.com/taro-ken" class="muted hover:text-[var(--fg)] flex items-center gap-2" target="_blank" rel="noreferrer noopener">
        <GitHub class="w-4 h-4" />
        Github
      </a>
    </nav>
  </div>
</header>
