---
import { getI18N } from "@/i18n";
import IconChevronDown from "../../icons/IconChevronDown.astro";
// import IconShare2 from "../../icons/IconShare2.astro";
import HeroButton from "../HeroButton.astro";

// 日本語のみのi18nシステム
const i18n = getI18N({ currentLocale: 'ja' });
---

<div>
  <div class="flex justify-between">
    <img
      class="rounded-full size-24 border
      border-hub-border
      dark:border-hub-border-dark
      dark:bg-hub-background-nav-dark
      hover:dark:bg-hub-background-nav"
      src="/images/profile-icon.jpg"
      alt="Descripción de la imagen"
    />
    <div class="flex gap-2 flex-wrap">
      <!-- <HeroButton class="size-8">
        <IconShare2 class="size-5" />
      </HeroButton> -->
    </div>
  </div>
  <div class="mt-4">
    <h1 class="font-medium text-2xl text-hub-title dark:text-hub-title-dark">
      {i18n.HERO.NAME}
    </h1>
    <p class="text-sm text-hub-subtitle dark:text-hub-subtitle-dark">
      {i18n.HERO.TITLE}
    </p>
  </div>
</div>
