---
import { getI18N } from "@/i18n";
import IconChevronDown from "../../icons/IconChevronDown.astro";
// import IconShare2 from "../../icons/IconShare2.astro";
import HeroButton from "../HeroButton.astro";
import YouTube from "../../icons/YouTube.astro";
import Instagram from "../../icons/Instagram.astro";
import Note from "../../icons/Note.astro";
import GitHub from "../../icons/GitHub.astro";
import SocialPill from "../../icons/SocialPill.astro";

// 日本語のみのi18nシステム
const i18n = getI18N({ currentLocale: 'ja' });
---

<div>
  <div class="flex justify-between">
    <img
      class="rounded-full size-24 border
      border-hub-border
      dark:border-hub-border-dark
      dark:bg-hub-background-nav-dark
      hover:dark:bg-hub-background-nav"
      src="/images/profile-icon.jpg"
      alt="Descripción de la imagen"
    />
    <div class="flex gap-2 flex-wrap">
      <!-- <HeroButton class="size-8">
        <IconShare2 class="size-5" />
      </HeroButton> -->
    </div>
  </div>
  <div class="mt-4">
    <h1 class="font-medium text-2xl text-hub-title dark:text-hub-title-dark">
      {i18n.HERO.NAME}
    </h1>
    <p class="text-sm text-hub-subtitle dark:text-hub-subtitle-dark">
      {i18n.HERO.TITLE}
    </p>
  </div>
  
  <!-- ソーシャルメディアアイコン -->
  <div class="mt-6">
    <div class="flex gap-2 flex-wrap">
      <SocialPill
        href="https://www.youtube.com/channel/UCuEiSkWRxlzYiagZKhTpb2A"
        class=""
        target="_blank"
      >
        <YouTube class="size-4" />
      </SocialPill>
      <SocialPill
        href="https://www.instagram.com/kentaro_life_lab/"
        class=""
        target="_blank"
      >
        <Instagram class="size-4" />
      </SocialPill>
      <SocialPill
        href="https://note.com/taroken2411"
        class=""
        target="_blank"
      >
        <Note class="size-4" />
      </SocialPill>
      <SocialPill
        href="https://github.com/taro-ken"
        class=""
        target="_blank"
      >
        <GitHub class="size-4" />
      </SocialPill>
    </div>
  </div>
</div>
