---
import GitHub from "../../icons/GitHub.astro";
import Instagram from "../../icons/Instagram.astro";
import Note from "../../icons/Note.astro";
import SocialPill from "../../icons/SocialPill.astro";
import YouTube from "../../icons/YouTube.astro";
import Tooltip from "../Tooltip.astro";
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex gap-2 flex-wrap">
    <Tooltip tooltip="YouTube">
      <SocialPill
        href="https://www.youtube.com/"
        class=""
        target="_blank"
      >
        <YouTube class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="Instagram">
      <SocialPill
        href="https://www.instagram.com/"
        class=""
        target="_blank"
      >
        <Instagram class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="Note">
      <SocialPill
        href="https://note.com/"
        class=""
        target="_blank"
      >
        <Note class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="GitHub">
      <SocialPill
        href="https://www.github.com/"
        class=""
        target="_blank"
      >
        <GitHub class="size-4" />
      </SocialPill>
    </Tooltip>
  </div>
</aside>
